.wdgt {
  &Container {
    height: 100%;
    display: flex;
  }

  &WizardWrapper {
    display: flex;
    width: 50%;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }
}

